html, body {
	min-height:100%; height: 100%; margin: 0px;font-family: 'Poppins', sans-serif;background:#eeeeee;
}

#root {
	width:100%; height: 100%;text-align:center;
}
#loader, #itemList {display:none;}
#wrapper {
	text-align:left;display:inline-block; width: 80%; min-width: 782px;
	height: -moz-calc(100% - 120px); height: -webkit-calc(100% - 120px); height: -o-calc(100% - 120px); height: calc(100% - 120px);
	margin: 60px;}
#input {
	width: 50%;
	display:inline-block;vertical-align:top;height:100%;overflow-y:scroll;
	padding: 0px;-ms-overflow-style: none;scrollbar-width: none; margin-right:50px;
}
#output {
	width:-moz-calc(50% - 60px); width: -webkit-calc(50% - 60px); width: -o-calc(50% - 60px); width: calc(50% - 60px);
	display:inline-block;height: 100%;
}
#input::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #eeeeee;
  }
#input::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
border-radius: 3.5px;
background-color: #dddddd;
}
#input::-webkit-scrollbar-track {
background: #eeeeee;
}
#result::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
background: #ffffff;
}
textarea { resize:none; }
#result {
	border: 0px; width: -moz-calc(100% - 40px); width: -webkit-calc(100% - 40px); width: -o-calc(100% - 40px); width: calc(100% - 40px);
	padding: 20px; height: -moz-calc(100% - 95px); height: -webkit-calc(100% - 95px); height: -o-calc(100% - 95px); height: calc(100% - 95px);
	font-family: 'Poppins', sans-serif; font-size: 13px;}
#copyBtn {display:block;width:100%;margin:0px;height:50px;border:0px;background-color: #444444;color:#ffffff;font-size:1.1em;font-family: 'Poppins', sans-serif; border-radius: 0px;}

#copy {display:block;position:absolute;left:60px;top:17px;}
#copy a { color:#444444; text-decoration: none;}
#copy a:hover { color: #999999;}

@media ( max-width: 782px ) {
	#wrapper { min-width: 10px;}
	#input { display:block; width:100%; height: 50%; }
	#output { display:block; width:100%; height: 50%; }
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 20px 0px 20px 0px;
}
label {
	display: inline-block;
	width: 90%;
	font-size: 0.8em;
	color: #aaaaaa;
	line-height: 1.5em;
}
label span {
	color: #444444; font-size:1.5em; margin-right: 10px;
}

label i {
	font-size: 1.3em;
}
label a {
	text-decoration: none; color: #aaaaaa;
}
label a:hover { color: #666666;}

.scriptList, .optionCheck {
	vertical-align: top; display:none;
}

textarea[class=input-text] { height: 60px; max-width: 600px;}
input[class=input-text], #checkList, #dbList { max-width: 300px;}
.input-text, #checkList, #dbList { background:#ffffff; border: 2px solid #bcbcbc; padding-left:7px; font-size: 13px;
	text-align: left; color: #444444; height: 30px; width: 100%; margin-top: 6px; font-family: 'Poppins', sans-serif; }
.input-text:focus, .focussed { outline: 1px solid #444444 !important; border: 2px solid #444444 !important; }
.input-text:focus, .focussed { outline: none !important; }
#checkList, #dbList {height:20px;padding: 6px 7px 6px 7px; display: table;}
.ruleName { display: table-cell !important;}
.ruleArrow { display: table-cell !important; text-align:right;}

.opt-item label { margin-top: 6px;}

input + label {
	display: inline-block; width: 17px; height: 17px; border: 2px solid #bcbcbc; cursor: pointer;
	vertical-align: top;margin-right:17px;text-align:center; background: #ffffff;
}
input:checked + label {
	border: 2px solid #444444;
}
input:checked + label::after {
	font-size: 2em;content:"✓";color:#444444;
}

.opt {
	margin-left: 36px;
	font-size: 0.8em;
	color: #aaaaaa;
	line-height: 1.5em;
}
.opt .title {
	font-weight: 400;
	font-size: 1.3em;
	color: #444444;
	display: block;
	margin: 12px 0px 12px 0px;
}
.opt strong {
	font-weight: 600;
	font-size: 1.2em;
	color: #444444;
	display: block; margin: 18px 0px 3px 0px;
}
.opt-item {
	margin-left: 20px; line-break: anywhere;
	width: -moz-calc(100% - 40px); width: -webkit-calc(100% - 40px); width: -o-calc(100% - 40px); width: calc(100% - 40px);
}
.opt-item a { text-decoration: none; color: #888888; }
.opt-item a:hover { text-decoration: none; color: #aaaaaa; }

.tree {
	font-size: 20px; font-weight: 400;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 314px;
	overflow: auto;
	max-height: 400px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
    margin: 2px;
}

.dropdown-content a {
	padding: 12px 7px 12px 7px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #888; color:#ffffff}

.show {display: block;}